.formWrapper {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: 1px solid red;
    border-radius: 20px;
    padding: 16px;
}   

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    gap: 8px;
}

.submitButton {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
}

.submitButton:hover {
    background-color: lightgray;
}

.submitButton:active {
    background-color: gray;
}