.counterWrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 20px;
    font-size: 20px;
    align-items: center;
}

.counterButton {
    width: 50px;
    height: 30px;
    font-size: 20px;
}